<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <title>TaskEase - Conecte-se</title>
  <link rel="icon" type="image/png" href="../logo.png"/>
</head>
<body>
    <main>
        <h1>Conecte-se</h1>
        <div class="form-g">
            <label for="username">Nome de usuário</label>
            <input type="text" id="username">
        </div>
        <div class="form-g">
            <label for="password">Digite sua senha</label>
            <input type="text" id="password">
        </div>
        <button onclick="Entrar()">ENTRAR</button>
      <small>Não tem uma conta? <a href="/cadastro">clique aqui</a></small>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
    <script src="../static/js/conectar.js"></script>
</body>
</html>